<a href="#">
  <div class="content-block {{ BLOCK_BACK }}">
    <img src="{{ NEWS_IMAGE }}" />
    <h2>{{ NEWS_TITLE }}</h2>
    <span class="color-teal">{{ NEWS_DATE }}</span>
    {{{ NEWS_SUBTITLE }}}
  </div>
</a>
