<a href="#" class="newsLink" news-index="{{ NEWS_INDEX }}">
  <div class="content-block {{ BLOCK_BACK }}">
    <img alt="{{ NEWS_TITLE }}" title="{{ NEWS_TITLE }}" data-src="{{ NEWS_IMAGE }}" class="lazy" />
    <h2>{{ NEWS_TITLE }}</h2>
    <span class="color-epfl">{{ NEWS_DATE }}</span>
    {{{ NEWS_SUBTITLE }}}
  </div>
</a>
