<a href="#" class="newsLink" news-index="{{ NEWS_INDEX }}">
  <div class="content-block {{ BLOCK_BACK }}">
    <img src="{{ NEWS_IMAGE }}" />
    <h2>{{ NEWS_TITLE }}</h2>
    <span class="color-epfl">{{ NEWS_DATE }}</span>
    {{{ NEWS_SUBTITLE }}}
  </div>
</a>
